%header.text-center
  %h1 Hyper Vagas
  %p Anúncios de vagas

= search_form_for @q, url: root_path do |f|
  .row
    .col-sm
      .form-group
        =f.label :name_cont, "Nome da vaga"
        =f.search_field :name_cont, class: "form-control"
    .col-sm
      .form-group
        =f.label :contract_eq, "Modalidade de contrato"
        =f.select :contract_eq, options_from_collection_for_select(@contracts, :second, :first, @q.contract_eq), {include_blank: true}, {class: "form-control"}
    .col-sm
      .form-group
        =f.label :state_eq, "Estado"
        =f.select :state_eq, options_from_collection_for_select(Brazil.states, :first, :second, @q.state_eq), {include_blank: true}, {class: "form-control"}
    .col-sm
      %button.btn.btn-danger{:type => "submit", style: 'margin-top: 31px;'} Pesquisar


- @positions.each do |position|
  = render position

%p.d-block.text-center.mt-3
  .text-center= paginate @positions, theme: 'twitter-bootstrap-4', default_per_page: 5
